body {
    max-width: 850px;
    border: 3px solid black;
    margin: 60px auto;
    padding: 50px;
    font-size: 25px;
    text-align: justify;
}
a{
    text-decoration: none;
    color: blue;
    text-align: left
}
tr{
    text-align: center;
    font-weight: 700;
}